.container {
    display: flex;
    flex-direction: row;
}

.imgWrapper {
    height: 50px;
    width: 50px
}

.container .tab:first-child {
    border-left: solid 1px red;
}

.container .tab {
    border: solid 1px red;
    border-left: none;
}

.container .tab:hover {
    cursor: pointer;
}

.container .selected {
    border-top: none;
    padding-top: 1px;
}
